<h3>Weekly Meals</h3>
<section class='bg-white p-4 h-3/4 overflow-scroll'>
  <div id='meals_list' class='meals-list flex flex-wrap'>
    <% DailyPlan.all.each do |daily_plan|%>
      <div class='meal sm:w-1/2 md:w-1/3 pr-4 pb-8'>
        <h5>
          <%= daily_plan.date.strftime("%A %m/%d/%y") %>
        </h5>
        <div>
          <% daily_plan.meals.each do |meal|%>
            <p class="uppercase"><%= meal.name %></p>
            <%= link_to "+ Add Food", new_meal_food_item_meal_path(meal.id), data: { turbo_frame: 'modal' } %>
            <div class='flex'>
              <% meal.food_items.each do |food_item| %>
                <%= render "food_items/food_item", {food_item: food_item, editable: false} %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
