<div class='flex flex-col justify-around w-full h-screen p-8'>
  <%= render "food_item_meals/meals_list" %>
  <section class='bg-white p-4 h-1/4 overflow-scroll mt-8'>
    <%= render "kitchen" %>
  </section>
</div>
