<div id="<%= dom_id food_item %>" data-sort-target=​"sortElement" data-sort-value=​"​​#{food_item.name}​​">
  <div class="<%=food_item_classes(food_item)%>">
    <%= food_item.name %><%= fa_icon icon(food_item)%>
  </div>
</div>
