<div class='inner-container columns'>
  <section class='col column'>
    <h2 class="subtitle">Weekly Meals</h2>
    <div class='weekly-meals columns'>
      <% DailyPlan.all.each do |daily_plan|%>
        <div class='day column is-5'>
          <%= render "components/card", daily_plan: daily_plan %>
        </div>
      <% end %>
    </div>
  </section>
  <%= render "kitchen" %>
</div>
