<div class='flex justify-around w-full'>
  <section class='bg-white'>
    <h2>Weekly Meals</h2>
    <div>
      <% DailyPlan.all.each do |daily_plan|%>
        <div >
          <%= render "components/card", daily_plan: daily_plan %>
        </div>
      <% end %>
    </div>
  </section>
  <section class='bg-white'>
    <%= render "kitchen" %>
  </section>
</div>
