.inner-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;

  h4 {
    text-transform: uppercase;
  }

  .col {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    width: 46%;
    padding: 20px;
    overflow-y: scroll;
  }

  .fridge,
  .pantry,
  .weekly-meals {
    border: 1px solid black;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .food-item,
  .day {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
  }

  .day {
    min-width: 300px;
  }

  .meal {
    display: flex;
    gap: 10px;
  }
  .food-item {
    background-color: lighten($blue, 20);

    .fa {
      margin-left: 7px;
    }
  }
}
