.inner-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;

  h4 {
    text-transform: uppercase;
  }

  .col {
    background-color: white;
    width: 45%;
    padding: 20px;
    overflow-y: auto;
    border-radius: 3px;
  }

  .fridge,
  .pantry,
  .weekly-meals {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }

  .fridge,
  .pantry {
    @include border;
  }

  .food-item,
  .day {
    padding: 10px;
  }

  .day {
    min-width: 48%;
    @include border;
  }

  .meal {
    display: flex;
    gap: 10px;
  }
  .food-item {
    background-color: lighten($blue, 20);
    border-radius: 50px;
    padding: 7px 20px;

    .fa {
      margin-left: 7px;
    }
  }
}
