.inner-container {
  height: 100vh;
  padding: $small-spacing $base-spacing;

  &.columns {
    margin: 0;
  }

  .col {
    background-color: $white-ter;
    border-radius: $radius;
    padding: $base-spacing;
    margin: $base-spacing $large-spacing;
    overflow-y: auto;
  }

  .fridge,
  .pantry,
  .weekly-meals {
    display: flex;
    flex-wrap: wrap;
    gap: $small-spacing;
    padding: $small-spacing;
  }

  .fridge,
  .pantry {
    @include box;
  }

  .food-item {
    background-color: $light-orange;
    border-radius: $radius-rounded;
    padding: $x-small-spacing $base-spacing;
    margin-bottom: $small-spacing;
    width: fit-content;

    .fa {
      margin-left: $x-small-spacing;
    }

    &.fat {
      background-color: $yellow;
    }

    &.carb {
      background-color: $light-cyan;
    }

    &.vegetable {
      background-color: $green;
    }

    &.protein {
      background-color: $light-purple;
    }
  }
}
